.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }
#footer1 {
    background: #ADD8E6;
}
#footer2 {
    background: #FF4500;
}
